<!-- store list -->
<section class="container-lg mx-auto py-3">
    <!-- 未輸入地址 -->
    <!-- <p class="mt-3 text-center fw-bold">請輸入位置</p> -->
    <p>共顯示30家餐廳</p>

    <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-lg-3">
        <!-- new normal -->
        <div class="col">
            <div class="card mb-3 rounded-3 overflow-hidden bg-light border-1 border-success home-store h-100" data-id="自定義id">
                <div class="d-flex flex-column position-relative">
                    <div class="position-relative home-div-img">
                        <img src="~/image/Store/Store_1.jpeg" class="home-store-img rounded-start" alt="商品圖">
                        <button type="button" class="position-absolute btn btn-success rounded-pill px-4 py-2 text-light border-0 fs-5 fw-bold" id="viewStoreBtn">瀏覽店家</button>
                    </div>
                    <div class="card-body home-card-body d-flex flex-column h-100 position-relative">
                        <div class="d-flex justify-content-between">
                            <h2 class="card-title h6 d-inline-block align-top m-0">澄禾食光 低GI健康餐盒（崇德店）</h2>
                            <a href="#" class="d-block text-decoration-none" id="homeFavoriteStore">
                                <i class="fa-regular fa-heart fs-4 text-danger home-favorite-checked"></i>
                                <i class="fa-solid fa-heart fs-4 text-danger"></i>
                            </a>
                        </div>
                        <div>
                            <div class="home-store-star d-inline-block align-middle" style="background: linear-gradient(to right , #ffd700 0 50%, #F2F2E7 50% 100%)"></div>
                            <span class="align-middle text-dark">4.3</span>
                            <span class="align-middle link-dark">
                                (403則評論)
                            </span>
                        </div>
                        <p class="d-block link-dark mb-0"><i class="fa-solid fa-location-dot me-2"></i>台中市南屯區大墩十二街153號</p>
                        <p class="card-text mt-1">
                            <i class="fa-solid fa-clock"></i>
                            11:00 - 20:00
                        </p>
                        <ul class="list-unstyled home-product-img-list mb-0">
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- order-status-stop -->
        <div class="col">
            <div class="card mb-3 rounded-3 overflow-hidden bg-light border-1 border-success home-store h-100" data-id="自定義id">
                <div class="d-flex flex-column position-relative">
                    <div class="position-relative home-div-img order-status-stop">
                        <img src="~/image/Store/Store_1.jpeg" class="home-store-img rounded-start" alt="商品圖">
                        <button type="button" class="position-absolute btn btn-success rounded-pill px-4 py-2 text-light border-0 fs-5 fw-bold" id="viewStoreBtn">瀏覽店家</button>
                    </div>
                    <div class="card-body home-card-body d-flex flex-column h-100 position-relative">
                        <div class="d-flex justify-content-between">
                            <h2 class="card-title h6 d-inline-block align-top m-0">澄禾食光 低GI健康餐盒（崇德店）</h2>
                            <a href="#" class="d-block text-decoration-none" id="homeFavoriteStore">
                                <i class="fa-regular fa-heart fs-4 text-danger home-favorite-checked"></i>
                                <i class="fa-solid fa-heart fs-4 text-danger"></i>
                            </a>
                        </div>
                        <div>
                            <div class="home-store-star d-inline-block align-middle" style="background: linear-gradient(to right , #ffd700 0 50%, #F2F2E7 50% 100%)"></div>
                            <span class="align-middle text-dark">4.3</span>
                            <span class="align-middle link-dark">
                                (403則評論)
                            </span>
                        </div>
                        <p class="d-block link-dark mb-0"><i class="fa-solid fa-location-dot me-2"></i>台中市南屯區大墩十二街153號</p>
                        <p class="card-text mt-1">
                            <i class="fa-solid fa-clock"></i>
                            11:00 - 20:00
                        </p>
                        <ul class="list-unstyled home-product-img-list mb-0">
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- opening-soon -->
        <div class="col">
            <div class="card mb-3 rounded-3 overflow-hidden bg-light border-1 border-success home-store h-100" data-id="自定義id">
                <div class="d-flex flex-column position-relative">
                    <div class="position-relative home-div-img opening-soon">
                        <img src="~/image/Store/Store_1.jpeg" class="home-store-img rounded-start" alt="商品圖">
                        <button type="button" class="position-absolute btn btn-success rounded-pill px-4 py-2 text-light border-0 fs-5 fw-bold" id="viewStoreBtn">瀏覽店家</button>
                    </div>
                    <div class="card-body home-card-body d-flex flex-column h-100 position-relative">
                        <div class="d-flex justify-content-between">
                            <h2 class="card-title h6 d-inline-block align-top m-0">澄禾食光 低GI健康餐盒（崇德店）</h2>
                            <a href="#" class="d-block text-decoration-none" id="homeFavoriteStore">
                                <i class="fa-regular fa-heart fs-4 text-danger home-favorite-checked"></i>
                                <i class="fa-solid fa-heart fs-4 text-danger"></i>
                            </a>
                        </div>
                        <div>
                            <div class="home-store-star d-inline-block align-middle" style="background: linear-gradient(to right , #ffd700 0 50%, #F2F2E7 50% 100%)"></div>
                            <span class="align-middle text-dark">4.3</span>
                            <span class="align-middle link-dark">
                                (403則評論)
                            </span>
                        </div>
                        <p class="d-block link-dark mb-0"><i class="fa-solid fa-location-dot me-2"></i>台中市南屯區大墩十二街153號</p>
                        <p class="card-text mt-1">
                            <i class="fa-solid fa-clock"></i>
                            11:00 - 20:00
                        </p>
                        <ul class="list-unstyled home-product-img-list mb-0">
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- new normal -->
        <div class="col">
            <div class="card mb-3 rounded-3 overflow-hidden bg-light border-1 border-success home-store h-100" data-id="自定義id">
                <div class="d-flex flex-column position-relative">
                    <div class="position-relative home-div-img">
                        <img src="~/image/Store/Store_1.jpeg" class="home-store-img rounded-start" alt="商品圖">
                        <button type="button" class="position-absolute btn btn-success rounded-pill px-4 py-2 text-light border-0 fs-5 fw-bold" id="viewStoreBtn">瀏覽店家</button>
                    </div>
                    <div class="card-body home-card-body d-flex flex-column h-100 position-relative">
                        <div class="d-flex justify-content-between">
                            <h2 class="card-title h6 d-inline-block align-top m-0">澄禾食光 低GI健康餐盒（崇德店）</h2>
                            <a href="#" class="d-block text-decoration-none" id="homeFavoriteStore">
                                <i class="fa-regular fa-heart fs-4 text-danger home-favorite-checked"></i>
                                <i class="fa-solid fa-heart fs-4 text-danger"></i>
                            </a>
                        </div>
                        <div>
                            <div class="home-store-star d-inline-block align-middle" style="background: linear-gradient(to right , #ffd700 0 50%, #F2F2E7 50% 100%)"></div>
                            <span class="align-middle text-dark">4.3</span>
                            <span class="align-middle link-dark">
                                (403則評論)
                            </span>
                        </div>
                        <p class="d-block link-dark mb-0"><i class="fa-solid fa-location-dot me-2"></i>台中市南屯區大墩十二街153號</p>
                        <p class="card-text mt-1">
                            <i class="fa-solid fa-clock"></i>
                            11:00 - 20:00
                        </p>
                        <ul class="list-unstyled home-product-img-list mb-0">
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- new normal -->
        <div class="col">
            <div class="card mb-3 rounded-3 overflow-hidden bg-light border-1 border-success home-store h-100" data-id="自定義id">
                <div class="d-flex flex-column position-relative">
                    <div class="position-relative home-div-img">
                        <img src="~/image/Store/Store_1.jpeg" class="home-store-img rounded-start" alt="商品圖">
                        <button type="button" class="position-absolute btn btn-success rounded-pill px-4 py-2 text-light border-0 fs-5 fw-bold" id="viewStoreBtn">瀏覽店家</button>
                    </div>
                    <div class="card-body home-card-body d-flex flex-column h-100 position-relative">
                        <div class="d-flex justify-content-between">
                            <h2 class="card-title h6 d-inline-block align-top m-0">澄禾食光 低GI健康餐盒（崇德店）</h2>
                            <a href="#" class="d-block text-decoration-none" id="homeFavoriteStore">
                                <i class="fa-regular fa-heart fs-4 text-danger home-favorite-checked"></i>
                                <i class="fa-solid fa-heart fs-4 text-danger"></i>
                            </a>
                        </div>
                        <div>
                            <div class="home-store-star d-inline-block align-middle" style="background: linear-gradient(to right , #ffd700 0 50%, #F2F2E7 50% 100%)"></div>
                            <span class="align-middle text-dark">4.3</span>
                            <span class="align-middle link-dark">
                                (403則評論)
                            </span>
                        </div>
                        <p class="d-block link-dark mb-0"><i class="fa-solid fa-location-dot me-2"></i>台中市南屯區大墩十二街153號</p>
                        <p class="card-text mt-1">
                            <i class="fa-solid fa-clock"></i>
                            11:00 - 20:00
                        </p>
                        <ul class="list-unstyled home-product-img-list mb-0">
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                            <li><img src="~/image/Store/Product_1.png" class="home-product-img" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
