@using msit59_vita.Models.ViewModels
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model List<StoreSearchViewModel>

@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHome";
}

<!-- banner -->
<section class="home-banner">
    <div class="container-lg row align-items-center justify-content-end h-100 mx-auto">
        <div class="col-12 col-md-6">
        <h2 class="fw-bold mx-3 text-primary text-shadow text-center text-md-start">預約附近健康餐</h2>
            <form class="bg-light rounded-3 p-4" action="/Home/StoreSearch" method="post" id="StoreSearchForm">
                <label for="StoreSearch" class="form-label ps-3 mb-2">
                    在哪裡附近
                </label> 
                <input type="text" name="StoreSearch" id="StoreSearch" class="form-control d-block rounded-pill fs-6 w-100 border-1 px-3 py-2 mb-4"
                       value=@ViewBag.Address>
                <button type="submit" class="btn btn-dark px-4 py-2 rounded-pill w-100 border-0" id="bannerSearchBtn">開始尋找美食</button>
            </form>
        </div>
    </div>
</section>

<!-- search bar -->
<section class="bg-success py-3 py-sm-2 search-panel">
    <div class="container-lg row mx-auto g-3">
        <div class="col-12 col-sm-4">
            <button type="button" class="btn btn-light border-1 border-dark w-100 rounded-pill fw-bold" id="recommendBtn">精選推薦</button>
        </div>
        <div class="col-12 col-sm-8 position-relative">
            <input type="text" class="btn btn-light border-1 border-dark w-100 rounded-pill fs-6 text-start px-3" id="searchInput" placeholder="餐廳或料理">
            <button type="button" class="position-absolute top-50 translate-middle-y border-0 h-100 px-3" id="startSearch">
                <i class="fa-solid fa-magnifying-glass fs-4"></i>
            </button>
        </div>
    </div>
</section>

<div id="StoreListContainer">
    @await Html.PartialAsync("_StoreListPartial", Model)
</div>

@await Html.PartialAsync("_AlertPartial");

@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=@(Configuration["GoogleMapsApiKey"])&region=TW&language=zh-TW" async defer></script>
    <script>
        $(document).ready(function () {
            // 地址搜尋
            $('#StoreSearchForm').on('submit',function(e){
                e.preventDefault();

                let scrollPos = $(window).scrollTop();
                
                // 創建地理編碼服務實例
                const geocoder = new google.maps.Geocoder();
                // 地點名稱或地址
                let address = $('#StoreSearch').val();

                // 發送地理編碼請求
                geocoder.geocode({ 'address': address }, function (results, status) {
                    if (status === 'OK') {
                        let data = {
                            lat: results[0].geometry.location.lat(), 
                            lng: results[0].geometry.location.lng() 
                        };
                        $.ajax({
                            type: 'POST',
                            url: '/Home/StoreSearch',
                            data: data,
                            success: function (response) {
                                console.log(1);
                                $("#StoreListContainer").html(response);
                                bindEvents();
                                saveSearchState(data, scrollPos);
                            },
                            error: function (xhr, status, error) {
                                console.error(error);
                                alert("出現無法預期的問題，請稍後再試。")
                            }
                        });
                    } else {
                        alert("請輸入正確地址");
                        console.error('無法獲取地點坐標:', status);
                    }
                });
            })

            bindEvents();
        })

        // partial view事件綁定
        function bindEvents(){
            console.log(2);
            // 收藏店家 & 跳轉頁面
            $('.home-store').each(function (index, item) {
                $(item).on('click', function (e) {
                    let id = $(e.currentTarget).data('storeid');
                    if ($(e.target).hasClass('fa-heart')) {
                        // favorite store toggle
                        let data = {
                            storeId: id
                        }
                        $.ajax({
                            type: 'POST',
                            url: '/Home/ToggleFavorite',
                            data: data,
                            success: function (response) {
                                if (response.success) {
                                    $(e.target).removeClass('home-favorite-checked').siblings().addClass('home-favorite-checked');
                                } else {
                                    $('#alertModal').modal('show');
                                }
                            },
                            error: function (xhr, status, error) {
                                console.error(error);
                                alert("出現無法預期的問題，請稍後再試。")
                            }
                        });
                    } else {
                        // go to store page
                        window.location.href = `/Store/Index/${id}`;
                    }
                })
            })
        }

        // 儲存搜尋關鍵字及頁面滾動位置到 History API
        function saveSearchState(data, scrollPos) {
            var state = { 'data': data, 'scrollPos': scrollPos };
            history.pushState(state, null, '?data=' + encodeURIComponent(data));
        }

        // 從 History API 中取出之前儲存的資訊,重新載入搜尋結果
        $(window).on('popstate', function (event) {
            if (event.originalEvent.state) {
                var data = event.originalEvent.state.data;
                var scrollPos = event.originalEvent.state.scrollPos;

                $.ajax({
                    url: '/Home/StoreSearch',
                    data: { data: data },
                    success: function (res) {
                        $("#StoreListContainer").html(res);
                        $(window).scrollTop(scrollPos);
                    }
                });
            }
        });
    </script>
}
