@{
    ViewData["Title"] = "常見問題";
}

<section class="faq-banner">
    <div class="container-lg d-flex align-items-center h-100 justify-content-sm-end justify-content-center">
        <h2 class="fw-bolder text-light text-center banner-title">常見問題</h2>
    </div>
</section>
<section class="container-lg py-5 faq-content">
    <p>VITA有提供企業/公司行號的大型訂單服務嗎?</p>
    <p>有的，我們提供專業的訂餐服務給企業/公司行號,不論是固定年會、慶生會或任何會 議餐點需求， 我們都有專門的企業業務來為您準備最超值的餐點搭配與組合。請聯絡: info@vita.tw </p>
    <p>若是對送來的餐點不滿意(例如:食物過涼/項目缺少或其他),我該怎麼做?</p>
    <p>請立即與我們聯絡，我們會馬上為您處理。</p>
    <p>我必需要建立帳號才能訂餐?</p>
    <p>VITA致力於提供顧客最方便的訂餐平台，為加速您之後的訂餐手續，您於第一次訂餐時留下您的訂餐資料後，系統便會自動以您的email為您建立帳號，並且記錄您的送餐必須資料，下次訂餐便不用重複輸入，替您省下您寶貴的時間!</p>
    <p>什麼是VITA</p>
    <p>VITA是一個方便的線上訂健康餐盒平台，您可以在VITA網站上訂購上百間餐廳的餐點外送或自取。只要透過簡單的幾個步驟您就能在網路上訂購到好吃又健康的餐盒。VITA更貼心地設置顧客評價系統，您可以參考上千客戶使用心得，讓您輕易選擇最適合您的餐點。 </p>
</section>
