USE [Vita]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 2024/5/29 下午 03:28:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Stores]') AND type in (N'U'))
DROP TABLE [dbo].[Stores]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 2024/5/29 下午 03:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[StoreID] [int] IDENTITY(1,1) NOT NULL,
	[StoreName] [nvarchar](40) NOT NULL,
	[StoreAddressCity] [nvarchar](10) NOT NULL,
	[StoreAddressDistrict] [nvarchar](10) NOT NULL,
	[StoreAddressDetails] [nvarchar](50) NOT NULL,
	[StoreAddressMemo] [nvarchar](500) NULL,
	[StorePhoneNumber] [char](15) NOT NULL,
	[StoreImage] [varchar](50) NOT NULL,
	[StoreUniformInvoiceVia] [bit] NOT NULL,
	[StoreAccountNumber] [varchar](50) NOT NULL,
	[StorePassword] [varchar](20) NOT NULL,
	[StoreSetTime] [smalldatetime] NOT NULL,
	[StoreOrderStatus] [tinyint] NOT NULL,
	[StoreOnService] [tinyint] NOT NULL,
	[StoreEndServiceTime] [smalldatetime] NULL,
	[StoreLinePay] [bit] NOT NULL,
 CONSTRAINT [PK_Stores] PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Stores] ON 

INSERT [dbo].[Stores] ([StoreID], [StoreName], [StoreAddressCity], [StoreAddressDistrict], [StoreAddressDetails], [StoreAddressMemo], [StorePhoneNumber], [StoreImage], [StoreUniformInvoiceVia], [StoreAccountNumber], [StorePassword], [StoreSetTime], [StoreOrderStatus], [StoreOnService], [StoreEndServiceTime], [StoreLinePay]) VALUES (1, N'优輕食(大墩店)', N'台中市', N'南屯區', N'大墩十二街153號', N'', N'0958405948     ', N'image/Store/Store_1.jpeg', 1, N'Vita0042', N'V3WV1rfk0yYEUV', CAST(N'2021-10-05T13:20:00' AS SmallDateTime), 1, 1, NULL, 1)
INSERT [dbo].[Stores] ([StoreID], [StoreName], [StoreAddressCity], [StoreAddressDistrict], [StoreAddressDetails], [StoreAddressMemo], [StorePhoneNumber], [StoreImage], [StoreUniformInvoiceVia], [StoreAccountNumber], [StorePassword], [StoreSetTime], [StoreOrderStatus], [StoreOnService], [StoreEndServiceTime], [StoreLinePay]) VALUES (2, N'Power Food 減醣廚房', N'台中市', N'西屯區', N'福科路539號', N'', N'0424612313     ', N'image/Store/Store_2.jpg', 1, N'Vita0057', N'V1pea79lbpnsP', CAST(N'2023-04-12T10:58:00' AS SmallDateTime), 1, 1, NULL, 1)
INSERT [dbo].[Stores] ([StoreID], [StoreName], [StoreAddressCity], [StoreAddressDistrict], [StoreAddressDetails], [StoreAddressMemo], [StorePhoneNumber], [StoreImage], [StoreUniformInvoiceVia], [StoreAccountNumber], [StorePassword], [StoreSetTime], [StoreOrderStatus], [StoreOnService], [StoreEndServiceTime], [StoreLinePay]) VALUES (3, N'水煮淡健康餐盒（大隆店）', N'台中市', N'西區', N'大隆路67號', N'', N'0423286189     ', N'image/Store/Store_3.png', 1, N'Vita0054', N'DImsMYuViU62R', CAST(N'2022-08-18T08:28:00' AS SmallDateTime), 1, 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[Stores] OFF
GO
