<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header border-0">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-center fs-3 fw-bold">
				<i class="fa-solid fa-circle-exclamation text-danger fs-2"></i>
				<p id="alertMessage">請先登入</p>
			</div>
			<div class="modal-footer border-0 d-flex justify-content-center">
				<a href="/Account/Login" type="submit" class="btn btn-info text-white col-4">登入</a>
				<button type="button" class="btn btn-secondary col-4" data-bs-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>