<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/scss/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    @RenderSection("MyStyle", required: false)


</head>
<body>
    <div class="body-container">
        @* 為了讓position-sticky可用而存在的div *@

        <header class="nav-area bg-dark sticky-sm-top">
            <ul class="container-fluid nav d-flex justify-content-between align-items-center fs-2">
                <li class="nav-item">
                    <a href="/ManagerHome/Index">
                        <img class="header-logo" src="~/image/logo/logo_300x150.png" alt="">
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/ManagerLogin/"
                       class="logout-link fs-5 fw-bolder link-light text-decoration-none">
                        會員登出&nbsp;<i class="fa-solid fa-right-from-bracket"></i>
                    </a>
                </li>
            </ul>

        </header>



        <div class="row content-area m-0">
            <div class="col-lg-2 col-sm-3 bg-primary d-flex justify-content-center sidebar-area">
                <div id="sidebar-wrapper" class="sidebar sidebar-dark vh-100 bg-primary">
                    <ul class="h-100 list-unstyled ">
                        <li>
                            <a href="/ManagerOrders/Index" class="text-decoration-none text-dark fw-bolder">
                                <img src="~/image/logo/logo_30x30_dark.png" alt="">
                                <span>訂單管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ManagerProducts/Index" class="text-decoration-none text-dark fw-bolder">
                                <img src="~/image/logo/logo_30x30_dark.png" alt="">
                                <span>菜單管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ManagerStores/Index" class="text-decoration-none text-dark fw-bolder">
                                <img src="~/image/logo/logo_30x30_dark.png" alt="">
                                <span>店家資訊</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ManagerReviews/Index" class="text-decoration-none text-dark fw-bolder">
                                <img src="~/image/logo/logo_30x30_dark.png" alt="">
                                <span>評論管理</span>
                            </a>
                        </li>
                        <li class="suspend-order"> <a href="#" class="btn btn-xlarge btn-danger">暫停接單</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-10 col-sm-9 bg-light">
                <div id="content-wrapper" class="d-block h-100">
                    @if (IsSectionDefined("BreadCrumb"))
                    {
                        <ol class="breadcrumb pt-3">
                            @RenderSection("BreadCrumb", true)
                        </ol>
                    }
                    @if (IsSectionDefined("Content"))
                    {
                        <div class=" row justify-content-center ">
                            @RenderSection("Content", required: true)
                        </div>
                    }

                </div>

                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
                @await RenderSectionAsync("Scripts", required: false)
            </div>
        </div>


    </div>

</body>
</html>