@{
    ViewData["Title"] = "歷史訂單";
}
<div class="container-fluid mt-3">

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="ms-5 breadcrumb">
            <li class="breadcrumb-item active text-dark">會員中心</li>
            <li class="breadcrumb-item active text-dark">我的訂單</li>
            <li class="breadcrumb-item active text-info" aria-current="page">歷史訂單</li>
        </ol>
    </nav>
    <div class="container container-lg ">
        <h4 class="text-dark">歷史訂單</h4>
        <div class="container container-lg w-75 mt-4 px-0">
            <button type="submit"
                class=" user-center-order-btn btn btn-outline-info  px-4 py-2 rounded-pill">當前訂單</button>
            <button type="submit" class="btn btn-dark px-4 py-2 rounded-pill ">歷史訂單</button>
        </div>

        <div class="container container-lg w-75 my-3 border-bottom border-dark">
            <div class="row">
                <dl class="row col-12 col-lg-8">

                    <dt class="col-6">訂單編號:</dt>
                    <dd class="col-6">12345678</dd>

                    <dt class="col-6">店名:</dt>
                    <dd class="col-6">優輕食</dd>


                    <dt class="col-6">取貨人:</dt>
                    <dd class="col-6">關二哥</dd>

                    <dt class="col-6">連絡電話:</dt>
                    <dd class="col-6">09123456789</dd>


                    <dt class="col-6">取貨方式:</dt>
                    <dd class="col-6">自取</dd>

                    <dt class="col-6">訂餐時間:</dt>
                    <dd class="col-6">2024/05/22 11:00</dd>

                    <dt class="col-6">預計送達/取餐時間:</dt>
                    <dd class="col-6">2024/05/22 11:00</dd>


                    <dt class="col-6">付款方式:</dt>
                    <dd class="col-6">現金</dd>

                    <dt class="col-6">開立發票方式:</dt>
                    <dd class="col-6">紙本發票</dd>


                    <dt class="col-6">內容/數量:</dt>
                    <div class="col-6 ">

                        <dd>雞胸肉餐盒*1</dd>
                        <dd>雞胸肉餐盒*1</dd>
                        <dd>雞胸肉餐盒*1</dd>
                        <dd><a class="bg-primary fs-6 link-info" href="#">更多</a></dd>
                    </div>


                    <dt class="col-6">訂單金額:</dt>
                    <dd class="col-6">$230</dd>


                    <dt class="col-6">給店家留言:</dt>
                    <dd class="col-6">無</dd>

                </dl>
                <div class="col-12 col-lg-4">

                    <div class=" d-flex align-items-center h-75">
                        <button type="button" class="btn mx-auto text-info" data-bs-toggle="modal"
                            data-bs-target="#myModal">
                            <i class="fa-regular fa-message fa-flip-horizontal"></i>
                            <p class="d-inline-block pt-2 ">評論</p>
                        </button>

                    </div>


                    <div class=" d-flex align-items-end   h-25">
                        <p class=" mx-auto ">訂單狀態: <span class="text-success">已完成</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container container-lg w-75 my-3 border-bottom border-dark">
            <div class="row">
                <dl class="row col-12 col-lg-8">

                    <dt class="col-6">訂單編號:</dt>
                    <dd class="col-6">12345678</dd>

                    <dt class="col-6">店名:</dt>
                    <dd class="col-6">優輕食</dd>


                    <dt class="col-6">取貨人:</dt>
                    <dd class="col-6">關二哥</dd>

                    <dt class="col-6">連絡電話:</dt>
                    <dd class="col-6">09123456789</dd>


                    <dt class="col-6">取貨方式:</dt>
                    <dd class="col-6">自取</dd>

                    <dt class="col-6">訂餐時間:</dt>
                    <dd class="col-6">2024/05/22 11:00</dd>

                    <dt class="col-6">預計送達/取餐時間:</dt>
                    <dd class="col-6">2024/05/22 11:00</dd>


                    <dt class="col-6">付款方式:</dt>
                    <dd class="col-6">現金</dd>

                    <dt class="col-6">開立發票方式:</dt>
                    <dd class="col-6">紙本發票</dd>


                    <dt class="col-6">內容/數量:</dt>
                    <div class="col-6 ">

                        <dd>雞胸肉餐盒*1</dd>
                        <dd>雞胸肉餐盒*1</dd>
                        <dd>雞胸肉餐盒*1</dd>
                        <dd><a class="bg-primary fs-6 link-info" href="#">更多</a></dd>
                    </div>


                    <dt class="col-6">訂單金額:</dt>
                    <dd class="col-6">$230</dd>


                    <dt class="col-6">給店家留言:</dt>
                    <dd class="col-6">無</dd>

                </dl>
                <div class="col-12 col-lg-4">

                    <div class=" d-flex align-items-center h-75">
                        <button type="button" class="btn mx-auto text-info disabled" data-bs-toggle="modal"
                            data-bs-target="#myModal">
                            <i class="fa-regular fa-message fa-flip-horizontal"></i>
                            <p class="d-inline-block pt-2 ">已評論</p>
                        </button>

                    </div>


                    <div class=" d-flex align-items-end   h-25">
                        <p class=" mx-auto ">訂單狀態: <span class="text-success">已完成</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container container-lg w-75 my-3 border-bottom border-dark">
            <div class="row">
                <dl class="row col-12 col-lg-8">

                    <dt class="col-6">訂單編號:</dt>
                    <dd class="col-6">12345678</dd>

                    <dt class="col-6">店名:</dt>
                    <dd class="col-6">優輕食</dd>


                    <dt class="col-6">取貨人:</dt>
                    <dd class="col-6">關二哥</dd>

                    <dt class="col-6">連絡電話:</dt>
                    <dd class="col-6">09123456789</dd>


                    <dt class="col-6">取貨方式:</dt>
                    <dd class="col-6">自取</dd>

                    <dt class="col-6">訂餐時間:</dt>
                    <dd class="col-6">2024/05/22 11:00</dd>

                    <dt class="col-6">預計送達/取餐時間:</dt>
                    <dd class="col-6">2024/05/22 11:00</dd>


                    <dt class="col-6">付款方式:</dt>
                    <dd class="col-6">現金</dd>

                    <dt class="col-6">開立發票方式:</dt>
                    <dd class="col-6">紙本發票</dd>


                    <dt class="col-6">內容/數量:</dt>
                    <div class="col-6 ">

                        <dd>雞胸肉餐盒*1</dd>
                        <dd>雞胸肉餐盒*1</dd>
                        <dd>雞胸肉餐盒*1</dd>
                        <dd><a class="bg-primary fs-6 link-info" href="#">更多</a></dd>
                    </div>


                    <dt class="col-6">訂單金額:</dt>
                    <dd class="col-6">$230</dd>


                    <dt class="col-6">給店家留言:</dt>
                    <dd class="col-6">無</dd>

                </dl>
                <div class="col-12 col-lg-4">

                    <div class=" d-flex align-items-center h-75">
                        <button type="button" class="btn mx-auto text-info" data-bs-toggle="modal"
                            data-bs-target="#myModal">
                            <i class="fa-regular fa-message fa-flip-horizontal"></i>
                            <p class="d-inline-block pt-2 ">評論</p>
                        </button>

                    </div>


                    <div class=" d-flex align-items-end   h-25">
                        <p class=" mx-auto ">訂單狀態: <span class="text-success">已完成</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- The Modal -->
<div class="modal fade " id="myModal">
    <div class="modal-dialog  modal-lg modal-dialog-centered ">
        <div class="modal-content d-flex flex-column">

            <!-- Modal Header -->
            <div class="modal-header border-0 pb-0">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body d-flex flex-column ">
                <!-- bug沒有開新分頁星星數會保留 但文字沒更改 -->
                <div class="user-center-rating d-flex flex-row-reverse justify-content-center">
                    <input type="radio" name="rating" value="5" id="5" checked><label class="fs-1" for="5">☆</label>
                    <input type="radio" name="rating" value="4" id="4"><label class="fs-1" for="4">☆</label>
                    <input type="radio" name="rating" value="3" id="3"><label class="fs-1" for="3">☆</label>
                    <input type="radio" name="rating" value="2" id="2"><label class="fs-1" for="2">☆</label>
                    <input type="radio" name="rating" value="1" id="1"><label class="fs-1" for="1">☆</label>
                </div>
                <small class="align-self-center">您評價餐廳為5顆星<span class="text-info">(必填)</span></small>
                <textarea rows="10" name="" id="" placeholder="可輸入兩百字評論(非必填)"
                    class="align-self-center form-control mt-2 w-75"></textarea>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer d-flex justify-content-evenly border-0">
                <button type="button" class="btn btn-outline-success px-4 py-2 rounded-pill"
                    data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-outline-success px-4 py-2 rounded-pill">確認</button>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(".user-center-rating>input").click(function () {
                $("small").html(`您評價餐廳為${this.value}顆星<span class="text-info">(必填)</span>`);
            })
    </script>
}