<div class="modal fade" id="modalForgetPwd" aria-hidden="true" aria-labelledby="ModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-3 p-3 position-relative">
            <h5 class="modal-title text-center h3" id="ModalToggleLabel">忘記密碼</h5>
            <button type="button" class="btn-close close-pos position-absolute" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            <div class="modal-body">
                <form method="post" action="/Account/ForgetPwd" id="forgetPwdForm" class="needs-validation" novalidate>
                    <label for="ForgetPwdEmail" class="form-label ps-3 mb-1 is-required">請輸入電子信箱以取得新密碼</label>
                    <input type="text" id="ForgetPwdEmail" name="CustomerEmail" class="form-control text-dark rounded-pill" required>
                    <div class="invalid-feedback ps-3">
                        請輸入有效的電子信箱
                    </div>
                    <div id="ResultNotFound" class="d-none text-danger ps-3">用戶 Email 不存在</div>
                    <button type="submit" class="w-100 btn btn-success text-light rounded-pill mt-4">
                        取得新密碼
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

