@model msit59_vita.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "登入";
}

<section class="container-lg py-5 mx-auto min-h-custom">
    <h2 class="text-center text-success fw-bold mb-3">登入</h2>
    <div class="row container justify-content-center mx-auto">
        <div class="p-5 bg-light border border-2 border-success rounded-3 col-12 col-sm-8">
            <form class="needs-validation" novalidate action="/Account/Login" method="post" id="LoginForm">
                <div class="mb-3">
                    <label for="CustomerEmail" class="form-label is-required ps-3 mb-1" id="LoginCustomerEmailLabel">電子信箱</label>
                    <input type="text" class="form-control text-dark rounded-pill" id="LoginCustomerEmail" name="CustomerEmail" required />
                    <div class="invalid-feedback ps-3">
                        請輸入電子信箱
                    </div>
                </div>
                <div class="mb-3 position-relative">
                    <label for="CustomerPassword" class="form-label is-required ps-3 mb-1" id="LoginCustomerPasswordLabel">密碼</label>
                    <a href="javascriot:void(0)" class="link-dark position-absolute end-0" data-bs-toggle="modal"
                       data-bs-target="#modalForgetPwd">忘記密碼</a>
                    <input type="password" class="form-control text-dark rounded-pill" id="LoginCustomerPassword"
                           name="CustomerPassword" required />
                    <div class="invalid-feedback ps-3">
                        請輸入密碼
                    </div>
                </div>
                @if (ViewBag.ErrorMessage != null)
                {
                    <span class="text-danger ps-3">@ViewBag.ErrorMessage</span>
                }
                <button type="submit" class="w-100 btn btn-success text-light rounded-pill mt-4">登入</button>
                <a class="w-100 btn border-dark rounded-pill mt-4 mb-3 googleLogin-btn" asp-controller="Account" asp-action="GoogleLogin" asp-route-provider="Google">使用Google帳號登入</a>
            </form>
            <p class="mt-4 mb-0 text-center">
                還沒有會員？
                <a href="/Account/Register" class="link-dark">馬上註冊</a>
            </p>
        </div>
    </div>
</section>
@await Html.PartialAsync("_ForgetPwdPartial", ViewData)
@await Html.PartialAsync("_ResultPartial", ViewData)

@section Scripts {
    <script>
        $(document).ready(function () {
            let forgetPwdForm = $('#forgetPwdForm')
            forgetPwdForm.on('submit', function (e) {
                e.preventDefault();
                let emailPattern = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
                let CustomerEmail = $('#ForgetPwdEmail').val();
                $('#modalForgetPwdSubmit').prop('disabled', true).find('.spinner-border').show();
                $('#modalForgetPwdText').addClass('d-none');
                if (!emailPattern.test(CustomerEmail)) {
                    $('#ForgetPwdEmailValid').text('請輸入有效的電子信箱');
                    $('#ForgetPwdEmail').addClass('is-invalid');
                    $('#modalForgetPwdSubmit').prop('disabled', false).find('.spinner-border').hide();
                    $('#modalForgetPwdText').removeClass('d-none');
                } else {
                    var formData = forgetPwdForm.serialize();
                    $.ajax({
                        type: 'POST',
                        url: '/Account/ForgetPwd',
                        data: formData,
                        success: function (response) {
                            if (response.success) {
                                $('#modalForgetPwd').modal('hide');
                                $('#resultModal #ResultOk').removeClass('d-none');
                                $('#resultModal').modal('show');
                            } else {
                                // 沒有找到對應帳號
                                $('#ForgetPwdEmail').removeClass('is-invalid');
                                if (response.message) {
                                    alert(response.message);
                                } else {
                                    $('#ForgetPwdEmailValid').text('用戶 Email 不存在');
                                    $('#ForgetPwdEmail').addClass('is-invalid');
                                }
                                $('#modalForgetPwd').modal('show');
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                            alert("出現無法預期的問題，請稍後再試。")
                        },
                        complete: function () {
                            $('#modalForgetPwdSubmit').prop('disabled', false).find('.spinner-border').hide();
                            $('#modalForgetPwdText').removeClass('d-none');
                        }
                    });
                }
            });

            let LoginForm = $('#LoginForm');
            LoginForm.on('submit', function (e) {
                console.log(LoginForm);
                if (!LoginForm[0].checkValidity()) {
                    e.preventDefault();
                    e.stopPropagation();
                }

                LoginForm.addClass('was-validated');
            })

            // DEMO
            $('#LoginCustomerEmailLabel').click(function (e) {
                e.preventDefault();
                $('#LoginCustomerEmail').val('777meng@gmail.com');
            })
            $('#LoginCustomerPasswordLabel').click(function (e) {
                e.preventDefault();
                $('#LoginCustomerPassword').val('Xyz789Pqr');
            })
            $('#ForgetPwdEmailLabel').click(function (e) {
                e.preventDefault();
                $('#ForgetPwdEmail').val('7ronggg@gmail.com');
            })

        })
    </script>
}
