


    <div class="container-fluid mt-3">

        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb ms-5">
                <li class="breadcrumb-item active text-dark">會員中心</li>
                <li class="breadcrumb-item active text-dark">我的訂單</li>
                <li class="breadcrumb-item active text-info" aria-current="page">當前訂單</li>
            </ol>
        </nav>
        <div class="container container-lg ">
            <h4 class="text-dark">歷史訂單</h4>
            <div class="container container-lg w-75 mt-4 px-0">
                <button type="submit" class="btn btn-dark px-4 py-2 rounded-pill ">歷史訂單</button>
                <button type="submit"
                    class=" user-center-order-btn btn btn-outline-info  px-4 py-2 rounded-pill">當前訂單</button>
            </div>
        </div>
        <div class="container container-lg my-3  w-75  border-bottom border-dark pb-3">
            <div class="container-lg container row  ">
                <!-- 店家照片 -->
                <div class="col-12 col-lg-4 mb-3">
                    <img class="card-img-top"  src="../img/home_banner.png" alt="店家照片">
                </div>
                <!-- 訂單明細 -->
                <dl class="row col-12 col-lg-8 ">

                    <dt class="col-6">訂單編號:</dt>
                    <dd class="col-6">12345678</dd>

                    <dt class="col-6">店名:</dt>
                    <dd class="col-6">優輕食</dd>


                    <dt class="col-6">取貨人:</dt>
                    <dd class="col-6">關二哥</dd>

                    <dt class="col-6">連絡電話:</dt>
                    <dd class="col-6">09123456789</dd>


                    <dt class="col-6">取貨方式:</dt>
                    <dd class="col-6">自取</dd>

                    <dt class="col-6">訂餐時間:</dt>
                    <dd class="col-6">2024/05/22 11:00</dd>

                    <dt class="col-6">預計送達/取餐時間:</dt>
                    <dd class="col-6">2024/05/22 11:00</dd>


                    <dt class="col-6">付款方式:</dt>
                    <dd class="col-6">現金</dd>

                    <dt class="col-6">開立發票方式:</dt>
                    <dd class="col-6">紙本發票</dd>


                    <dt class="col-6">內容/數量:</dt>
                    <div class="col-6 ">

                        <dd>雞胸肉餐盒*1</dd>
                        <dd>雞胸肉餐盒*1</dd>
                        <dd>雞胸肉餐盒*1</dd>
                        <dd><a class="bg-primary fs-6 link-info" href="#">更多</a></dd>
                    </div>


                    <dt class="col-6">訂單金額:</dt>
                    <dd class="col-6">$230</dd>


                    <dt class="col-6">給店家留言:</dt>
                    <dd class="col-6">無</dd>

                </dl>
                <div class="col-12 col-lg-12  d-flex flex-column mb-2">
                        <p class=" ms-auto ">訂單狀態: <span class="text-info">待接單</span></p>
                        <button type="submit" class="ms-auto btn btn-outline-success text-dark px-4 py-2 rounded-pill">取消訂單</button>
                        <button type="submit" class="ms-auto btn btn-outline-success text-dark px-4 py-2 rounded-pill" hidden>取消訂單</button>

                </div>
            </div>
        </div>

    </div>