@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

@section MyStyle {

    <style>

        .info-area{
            padding: 50px 0px 0px 0px;
            width: 90%
        }

        
        #order-info, #review-info {
            font-size: larger;
        }

        @@media (max-width: 992px) {
            #review-info {
                padding-top: 35px;

            }
        }

        @@media (max-width: 576px) {
            #order-info, #review-info {
                font-size: large;
            }
            
        }

    </style>
}


@section Content {

    <div class="info-area">
    <div class="row">
        <div id="order-info" class="col-lg-9 col-12">
            <h3 class="p-0 fw-bolder">今日訂單資訊</h3>
            <div class="row p-0">
                <ul class="col-lg-6 col-6 list-unstyled">
                    <li>待接單：<a href="" class="text-success fw-bolder">8</a></li>
                    <li>製作中：<a href="" class="text-success fw-bolder">5</a></li>
                    <li>配送中/等待自取：<a href="" class="text-success fw-bolder">3</a></li>
                    <li>已完成：<a href="" class="text-success fw-bolder">46</a></li>
                    <li>退單/已取消：<a href="" class="text-success fw-bolder">7</a></li>

                </ul>
                <ul class="col-lg-4 col-6 list-unstyled ">
                    <li>今日營業額：5800</li>
                    <li>今日銷售數量：49</li>
                    <li>自取：38&nbsp;&nbsp;外送：11</li>
                </ul>
            </div>

        </div>
        <div id="review-info" class="col-lg-3 col-12">
            <h3 class="fw-bolder">評論管理</h3>
            <ul class="row list-unstyled ">
                <li>本週新進評論：<a href="" class="text-success fw-bolder">5</a></li>

            </ul>

        </div>


    </div>

    <div id="sales-stats" class="pt-4">
        <h3 class="fw-bolder">報表統計</h3>


        <div id="total-stats" class="row pt-3 pb-3">
            <div class="col-lg-3 col-sm-5">
                <img src="https://placehold.co/200x100" class="w-100" alt="">
            </div>
            <div class="col-lg-3 col-sm-5">
                <img src="https://placehold.co/200x100" class="w-100" alt="">
            </div>
        </div>
        <div id="hist-stats" class="row">
            <div class="col-lg-4 col-sm-12  pt-3 pb-3">
                <img src="https://placehold.co/400x400" class="w-100" alt="">
            </div>
            <div class="col-lg-4 col-sm-12  pt-3 pb-3">
                <img src="https://placehold.co/400x400" class="w-100" alt="">
            </div>
            <div class="col-lg-4 col-sm-12  pt-3 pb-3">
                <img src="https://placehold.co/400x400" class="w-100" alt="">
            </div>
        </div>
        <div id="line-chart-stats" class="row ">
            <div class="col-lg-6 col-sm-12  pt-3 pb-3">
                <img src="https://placehold.co/600x400" class="w-100" alt="">
            </div>
            <div class="col-lg-6 col-sm-12  pt-3 pb-3">
                <img src="https://placehold.co/600x400" class="w-100" alt="">
            </div>
        </div>
    </div>
    </div>
    

}
