@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

@section MyStyle {
    <link rel="stylesheet" href="~/css/Manager/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Manager/ManagerComments.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
}

@section BreadCrumb {
    <div class="col-lg-2 col-sm-3 bg-primary ps-0 pe-0"></div>
    <div class="col-lg-10 col-sm-9 bg-light  ps-0 pe-0">
        <ol class="breadcrumb pt-3">
            <li class="breadcrumb-item" aria-current="page">
                <a href="./ManagerHome.html"
                   class="text-dark text-decoration-none fw-bolder">首頁</a>
            </li>
            <li class="breadcrumb-item">評論管理</li>
        </ol>
    </div>
}

@section ContentWrapper {
    <div class=" row justify-content-center">
        <div id="TableAreas" class="pt-0 pb-4 ps-2 col-lg-11 col-sm-9 ">
            <div class=" d-lg-flex mb-2 container-fluid">
                <div class="search-icon">
                    <a href="ManagerHome_7rong.html">
                        <i class=" fa-solid fa-magnifying-glass"></i>
                    </a>
                    <input class="comment-input border-2 rounded-3 py-1 px-2 me-3" type="text" placeholder="請輸入關鍵字">
                </div>
                <div>
                    <input class="comment-input border-2 rounded-3 py-1 px-2" type="date" name="" id="startDate">
                    <span class="fw-bold">~</span>
                    <input class="comment-input border-2 rounded-3 py-1 px-2 me-3" type="date" name="" id="endDate">
                </div>
                <div>
                    <select class="comment-select border-2 border-dark rounded-3 py-1 px-2 me-3" id="">
                        <option value="">回覆狀態</option>
                        <option value="1">已回覆</option>
                        <option value="0">未回覆</option>
                    </select>
                </div>
                <div>
                    <button class="btn clear-btn btn-dark rounded-3 py-1 px-2">清除篩選</button>
                </div>

            </div>

            <table id="TableProducts" class="table table-hover table-borderless border-bottom border-dark text-center">
                <thead class="border-dark">
                    <tr>
                        <th scope="col" style="width: 8%">#</th>
                        <th scope="col" style="width: 13%">發佈人</th>
                        <th scope="col" style="width: 17%">發佈時間</th>
                        <th scope="col" style="width: 18%">發佈內容</th>
                        <th scope="col" style="width: 18%">評論星級</th>
                        <th scope="col" style="width: 10%">回覆狀態</th>
                        <th scope="col" style="width: 13%">操作</th>
                        <th scope="col" style="width: 3%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="comment-tr">
                        <th class="align-middle" scope="row">1</th>

                        <td class="align-middle">海綿寶寶</td>
                        <td class="align-middle">2024/05/02 12:30</td>
                        <td class="align-middle">外送快速推推!!!!</td>
                        <td class="align-middle rating">
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star fill"></i>
                        </td>
                        <td class="align-middle">已回覆</td>
                        <td class="align-middle">
                            <button class="btn btn-dark me-1 fw-bold btn-accept show-alert" disabled>回覆</button>
                        </td>
                        <td>
                            <button class="btn btn-accordion" data-bs-toggle="collapse" data-bs-target="#accordion-1" aria-expanded="false" aria-controls="accordion-1">
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                        </td>
                    </tr>
                    <tr class="comment-tr">
                        <td colspan="8" class=" p-0">
                            <div class="collapse" id="accordion-1">
                                <div class="d-lg-flex">
                                    <div class="col-lg-6 card card-body">
                                        <p class="fw-bold">發佈內容：</p>
                                        <p>外送快速推推!!!!</p>
                                    </div>
                                    <div class="col-lg-6 card card-body">
                                        <p class="fw-bold">訂購品項：</p>
                                        <p>雞胸餐盒*1、牛腱餐盒*3</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="comment-tr">
                        <th class="align-middle" scope="row">2</th>
                        <td class="align-middle">海綿寶寶</td>
                        <td class="align-middle">2024/05/05 15:30</td>
                        <td class="align-middle">超過一定寬度時顯示省略符號，展開可以看到完整評論。好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃</td>
                        <td class="align-middle rating">
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star "></i>
                        </td>
                        <td class="align-middle">未回覆</td>
                        <td class="align-middle">
                            <button class="btn btn-dark me-1 fw-bold btn-accept show-alert" data-bs-toggle="modal" data-bs-target="#replyModal">回覆</button>
                        </td>
                        <td>
                            <button class="btn btn-accordion" data-bs-toggle="collapse" data-bs-target="#accordion-2" aria-expanded="false" aria-controls="accordion-2">
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                        </td>
                    </tr>
                    <!-- Modal -->
                    <div class="modal" id="replyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                            <div class="rounded-3 h-75 modal-content">
                                <div class="modal-header bg-dark">
                                    <h5 class="fw-bold text-primary modal-title" id="staticBackdropLabel">評論回覆</h5>
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <p class="h-50 fw-bold">評論：</p>
                                        <p class="p-3 rounded-3 bg-primary  customer-reply-text">超過一定寬度時顯示省略符號，展開可以看到完整評論。好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃</p>
                                    </div>
                                    <div>
                                        <p class="h-50 fw-bold">回覆：</p>
                                        <textarea class="p-3 w-100 rounded-3 border-dark" rows="7" name="replyTtext" id="replyText"></textarea>
                                    </div>

                                </div>
                                <div class="modal-footer bg-dark">
                                    <button type="button" class="btn btn-primary border-0 rounded-3 fw-bold text-dark" data-bs-dismiss="modal">送出</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- modal end -->
                    <tr>
                        <td colspan="8" class=" p-0">
                            <div class="collapse" id="accordion-2">
                                <div class="d-flex">
                                    <div class=" col-6 card card-body">
                                        <p class="fw-bold">發佈內容：</p>
                                        <p>超過一定寬度時顯示省略符號，展開可以看到完整評論。好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃</p>
                                    </div>
                                    <div class="col-6 card card-body">
                                        <p class="fw-bold">訂購品項：</p>
                                        <p>雞胸餐盒*1、牛腱餐盒*3</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="comment-tr">
                        <th class="align-middle" scope="row">3</th>
                        <td class="align-middle">海綿寶寶</td>
                        <td class="align-middle">2024/05/02 12:30</td>
                        <td class="align-middle">超過一定寬度時顯示省略符號，展開可以看到完整評論</td>
                        <td class="align-middle rating">
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star fill"></i>
                        </td>
                        <td class="align-middle">未回覆</td>
                        <td class="align-middle">
                            <button class="btn btn-dark me-1 fw-bold btn-accept show-alert">回覆</button>
                        </td>
                        <td>
                            <button class="btn btn-accordion" data-bs-toggle="collapse" data-bs-target="#accordion-3" aria-expanded="false" aria-controls="accordion-3">
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8" class=" p-0">
                            <div class="collapse" id="accordion-3">
                                <div class="d-flex">
                                    <div class="col-6 card card-body">
                                        <p class="fw-bold">發佈內容：</p>
                                        <p>超過一定寬度時顯示省略符號，展開可以看到完整評論</p>
                                    </div>
                                    <div class="col-6 card card-body">
                                        <p class="fw-bold">訂購品項：</p>
                                        <p>雞胸餐盒*1、牛腱餐盒*3</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="comment-tr">
                        <th class="align-middle" scope="row">4</th>
                        <td class="align-middle">海綿寶寶</td>
                        <td class="align-middle">2024/05/02 12:30</td>
                        <td class="align-middle">外送快速推推!!!!</td>
                        <td class="align-middle rating">
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star fill"></i>
                        </td>
                        <td class="align-middle">已回覆</td>
                        <td class="align-middle">
                            <button class="btn btn-dark me-1 fw-bold btn-accept show-alert" disabled>回覆</button>
                        </td>
                        <td>
                            <button class="btn btn-accordion" data-bs-toggle="collapse" data-bs-target="#accordion-4" aria-expanded="false" aria-controls="accordion-4">
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8" class=" p-0">
                            <div class="collapse" id="accordion-4">
                                <div class="d-flex">
                                    <div class=" col-6 card card-body">
                                        <p class="fw-bold">發佈內容：</p>
                                        <p>外送快速推推!!!!</p>
                                    </div>
                                    <div class="col-6 card card-body">
                                        <p class="fw-bold">訂購品項：</p>
                                        <p>雞胸餐盒*1、牛腱餐盒*3</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="comment-tr">
                        <th class="align-middle" scope="row">5</th>
                        <td class="align-middle">海綿寶寶</td>
                        <td class="align-middle">2024/05/02 12:30</td>
                        <td class="align-middle">外送快速推推!!!!</td>
                        <td class="align-middle rating">
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star fill"></i>
                            <i class="fa fa-star fill"></i>
                        </td>
                        <td class="align-middle">未回覆</td>
                        <td class="align-middle">
                            <button class="btn btn-dark me-1 fw-bold btn-accept show-alert">回覆</button>
                        </td>
                        <td>
                            <button class="btn btn-accordion" data-bs-toggle="collapse" data-bs-target="#accordion-5" aria-expanded="false" aria-controls="accordion-5">
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8" class=" p-0">
                            <div class="collapse" id="accordion-5">
                                <div class="d-flex">
                                    <div class=" col-6 card card-body">
                                        <p class="fw-bold">發佈內容：</p>
                                        <p>外送快速推推!!!!</p>
                                    </div>
                                    <div class="col-6 card card-body">
                                        <p class="fw-bold">訂購品項：</p>
                                        <p>雞胸餐盒*1、牛腱餐盒*3</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

            <div aria-label="" class="">
                <ul class="pagination align-items-center justify-content-center">
                    <li id="prevPageButton" class="btn disabled page-item">
                        <a class="rounded-2 page-link text-dark" href="javascript:void(0)">Previous</a>
                    </li>
                    <li id="pageBox1" class="page-item active">
                        <a id="pageBox1-link" class="rounded-2 page-link text-dark"
                           href="javascript:void(0)">1</a>
                    </li>
                    <li id="pageBox2" class="page-item">
                        <a id="pageBox2-link" class=" rounded-2 page-link text-dark"
                           href="javascript:void(0)">2</a>
                    </li>
                    <li id="pageBox3" class="page-item">
                        <a id="pageBox3-link" class="rounded-2 page-link text-dark"
                           href="javascript:void(0)">3</a>
                    </li>
                    <li id="nextPageButton" class="btn page-item">
                        <a class="rounded-2 page-link text-dark" href="javascript:void(0)">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


}


