@{
    ViewData["Title"] = "加入我們";
}

<section class="join-us-banner">
    <div class="container-lg d-flex align-items-center h-100 justify-content-sm-end justify-content-center">
        <h2 class="fw-bolder text-light text-center banner-title">成為 VITA 合作店家</h2>
    </div>
</section>

<section class="container-lg py-5 mx-auto min-h-custom">
    <h3 class="text-success fw-bold text-center lh-base mb-4 h4">VITA為您創造新機會</h3>
    <div class="row row-cols-1 row-cols-sm-3 g-5 w-100 mx-auto">
        <div class="col text-center text-dark">
            <div class="join-img-1 mb-4"></div>
            <h4 class="h5">與新客戶建立聯繫</h4>
            <p>加入您的商家到平台上可以觸及到更廣泛的客源。</p>
        </div>
        <div class="col text-center text-dark">
            <div class="join-img-2 mb-4"></div>
            <h4 class="h5">增加營收</h4>
            <p>讓消費者隨時享受您的餐點，並吸引新的消費客群。</p>
        </div>
        <div class="col text-center text-dark">
            <div class="join-img-3 mb-4"></div>
            <h4 class="h5">專注於您的業務</h4>
            <p>我們負責支援商家，您只需專注製作餐點即可！</p>
        </div>
    </div>
</section>

<section class="row m-0">
    <div class="col-7 d-none d-sm-block join_store_bg"></div>
    <div class="col-12 col-sm-5 bg-light p-5">
        <h3 class="text-success fw-bold mb-4 h4">VITA店家</h3>
        <ul class="list-unstyled">
            <li class="mb-2"><i class="fa-solid fa-check me-2"></i>協助迅速加入</li>
            <li class="mb-2"><i class="fa-solid fa-check me-2"></i>無押金</li>
            <li class="mb-2"><i class="fa-solid fa-check me-2"></i>沒有綁約</li>
            <li class="mb-2"><i class="fa-solid fa-check me-2"></i>提供後台的數據分析及消費者回饋留言</li>
            <li class="mb-2"><i class="fa-solid fa-check me-2"></i>提升店家知名度</li>
            <li class="mb-2"><i class="fa-solid fa-check me-2"></i>吸引更多新客人</li>
            <li class="mb-2"><i class="fa-solid fa-check me-2"></i>擴大您的市場覆蓋率</li>
        </ul>
    </div>
</section>

<section class="py-5 text-center container-lg">
    <h3 class="text-dark fw-bold mb-2 h4">滿意反饋</h3>
    <p class="text-dark mb-0">已服務店家</p>
    <p class="fs-1 text-success fw-bold">3000+</p>
    <feature class="join-feedback-img">
        <img src="~/image/JoinUs/feedback_ps_1.png" alt="客戶反饋">
        <img src="~/image/JoinUs/feedback_ps_2.png" alt="客戶反饋">
        <img src="~/image/JoinUs/feedback_ps_3.png" alt="客戶反饋">
    </feature>
</section>

<section class="mt-4 join-contact-bg p-5">
    <div class="w-25 mx-auto">
        <h3 class="text-success fw-bold mb-4 h4">歡迎加入我們</h3>
        <dl class="text-dark fs-5">
            <dt>業務專員</dt>
            <dd>小周</dd>
            <dt>聯絡電話</dt>
            <dd>0922-123-567</dd>
            <dt>Email</dt>
            <dd>HankChou@vita.com</dd>
        </dl>
    </div>
</section>